


.game-board-standard{
    background-color: transparent;
    background-color: rgba(87, 33, 251, 0.531);
    top:0;
    position: absolute;
    width: 100vw;
    height: 100vw;

}
.squares-bg-container{
    width: 100vw;
    height: auto;
    position: fixed;
    top:0;
    opacity: 0.8;
    z-index: -3;
}

.wave-background{
    width: 100vw;
    height: auto;
    position: fixed;
    top:-10vh;
    z-index: -2;
    opacity: 0.3;
}

h1{
    text-align: center;
    display: flex;
    justify-content: center;
    background: transparent;
}
h3{
    background: transparent;
}
p{
    background: transparent;
}

.game-board-layout-container{
    width:90%;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 5%;
}

.game-screen-right-col{
    height: 540px;
    display:flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
}

.button-container{
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 10px;
    padding:48px;
    
}

.input-buttons{
    background-color: rgb(251, 250, 250);
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin: 0;
   
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    width: fit-content;
    
}

.input-buttons button {
    cursor: pointer;
    border: 2px solid rgb(202, 182, 251);
    background-color: rgb(198, 198, 255);
    transition: 0.4s;
    border: none;
    height: 65px;
    width: 70px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow:
                inset -0.5px -8px 5px 0px rgba(74, 26, 195, 0.3),
                inset -8px -2px 7px 0px rgba(74, 26, 195, 0.3),
                inset 7px 5px 10px 3px rgb(242, 242, 242, 0.5),
                inset -7px 0px 12px 0px  rgb(202, 182, 251, 0.7),
                inset -7px 0px 18px 0px rgb(143, 143, 143, 0.7),
                2px 2px 5px 1px rgba(0, 0, 0, 0.25),
                 0px 0px 15px 1px rgba(0, 0, 0, 0.186);
} 
.input-buttons button:hover {
   border: 2px solid rgb(94, 33, 251);
} 
/* ------------------------------------------------------------------------------ */
/* --------fn buttons---------- */

.checking-buttons{
    background-color: gray;
    display: grid;
    height: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin: 0;
    margin-top: 48px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    

}

.checking-buttons button {
    cursor:pointer;
    margin: 15px;
    transition: 0.4s;
    height: 55px;
    width: 80px;
    border-radius: 10px;
    font-weight: 600;
   
} 
.checking-buttons button:hover {
    height: 57.75px;
    width: 84px;
    margin: 13.5px;
} 
.check-game-button{
    background-color: rgb(94, 33, 251);
    color:rgb(246, 211, 252);
    border: 0.5px solid rgb(246, 211, 252);
    box-shadow: inset 0px 1px 1px 0px  rgb(94, 33, 251),
                inset -1px -2px 8px 0px  rgba(30, 30, 30 ,0.25),
                inset 0px 2px 2px 0px  rgba(30, 30, 30 ,0.25),
                inset 0px 1.5px 4px 5px  rgb(94, 33, 251),
                inset 2px 8px 5px 0px white,
                inset 0px -1px 15px 0px  rgb(94, 33, 251),
                inset -1px -2px 10px 0px  black,
                inset 0px 0px 15px 20px  rgb(94, 33, 251),
                3px 8px 15px 0px rgba(20, 20, 20 ,0.7);

}
.del-selected-button{
    border: 1px solid rgb(94, 33, 251);
    background-color: rgb(246, 211, 252);
    color: rgb(94, 33, 251);
    box-shadow:inset -1px -2px 8px 0px  rgba(30, 30, 30 ,0.25),
    inset 0px 2px 2px 0px  rgb(94, 33, 251),
    inset 2px 6px 6px 0px white,
    inset -1px -2px 10px 0px  rgb(94, 33, 251),
    3px 8px 15px 0px rgba(20, 20, 20 ,0.4);
}

.reset-button{
    background-color: #fb9d9d;
    border-radius: 50%;
    border:0.5px solid white;
    color: white;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
    box-shadow: inset 0px 1px 1px 0px  #f64141,
                inset -1px -2px 8px 0px  rgba(30, 30, 30 ,0.5),
                inset 0px 2px 2px 0px  black,
                inset 0px 1.5px 4px 5px  #f64141d3,
                inset 2px 8px 5px 0px white,
                inset 0px -1px 15px 0px  #f641417a,
                inset -1px -2px 10px 0px  black,
                inset -2px -2px 5px 5px  #ac2c2c,
                inset 0px 0px 15px 20px  #f64141,
                3px 8px 15px 0px rgba(20, 20, 20 ,0.7);
}
/* -------------------------------------------------------------------------------------- */
/* --------Sudoku Grid---------- */


.standard-sudoku-grid-container {
    width: 550px;
    height: 550px;
    background-color: rgb(253, 253, 253);
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgb(65, 65, 65),
                0px 0px 80px 1px rgba(0, 0, 0, 0.248);
    background-image: url('../sudokuGridBackground.png');
    aspect-ratio: 1/1;
    padding:0;
    align-items: center;
    justify-content: center
    
}


.standard-grid {
    width: 540px;
    height: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5px;
    border:1px solid #9E9696;
    border-radius: 15px;
    overflow:hidden;
    justify-items: center;
    align-items: center;
    aspect-ratio: 1/1;
    
}


/* ----------------------------------------------------------------- */

.tile {
    height: auto;
    width: auto;
    width: 59px; 
    height: 59px;
    aspect-ratio: 1/1;
    color: white;
    /* border: 0.5px solid rgb(168, 168, 168); */
    border: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: none !important;
    background-color: rgba(255, 255, 255, 0);
    
}


/* --------------------------------------------------------------------- */
/* -------- Conditional tile classes ---------- */


/* --------Tiles that are not 'clues'---------- */
.edited {
    background-color: transparent;
    background-color: #e29aff07;
    color: rgb(0, 0, 0);
}
.edited button:hover {
    color: grey;
}


/* --------Clues - cannot be edited---------- */
.original-nums{
    background-color:rgba(140, 94, 255, 0.162);
    border: none;
    transition: 0.4s;
  
  
  

}

/* --------styles for when tile is selected---------- */

/* .highlight-axis{
    background-color: transparent;
    background-color:rgba(95, 33, 251, 0.039);
    z-index: 2;
} */
button.selected {
    background-color: white;
    color: white;
    text-shadow: 0px 0px 3px white;
    box-shadow: 0px 0px 6px 2px rgb(94,33,251,0.8),
                inset 0px 0px 1px 0.5px rgb(94,33,251,0.8);
    border: none;
    border-radius: 10px;
 
    
}


.selected-val {
    background-color: black;
    background-color:rgba(95, 33, 251, 0.133);
    border: rgba(95, 33, 251, 0.316) ;
}

/* --------box section lines---------- */

.horizontal-divide{
    border-bottom: 3px solid transparent; 
   
    /* border-bottom: 3px solid yellow; */
    height:61.7px; 

}

.vertical-divide {
    border-right: 3px solid  transparent;
    
    /* border-right: 3px solid  yellow; */
    width: 61.7px; 

}



/* --------feature/button functions---------- */
.incorrect-answer {
   background-color: transparent;
   color: rgba(249, 74, 74, 0.901);
  
}


/* --------------------------------------------------------- */
/* --------Reset Game Modal ---------- */
.overlay{
    margin: 0 auto;
    /* background-color: rgb(255, 255, 255); */
    z-index: 10;
    width: 100%;
    height: 100%;
    z-index: 10;

}

.outer-reset-modal{
    margin: 0 auto;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 33, 251, 0.301);
    backdrop-filter: blur(1px);
    
}

.inner-reset-modal{
    position:relative;
    padding: 32px;
    width: 350px;
    height: 300px;
    /* border: 3px solid rgba(4, 4, 4, 0.48); */
    background-color: rgba(255, 255, 255, 0.765);
    border-radius: 2px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.723),
                0px 0px 20px 5px rgba(0, 0, 0, 0.519),
                0px 0px 15px 2px rgba(65, 24, 171, 0.899),
                0px 0px 600px 20px rgba(29, 9, 79, 0.899),
                inset 2px 2px 5px 0px black,
                inset 5px 5px 8px 0px rgb(250, 250, 250),
                inset 0px 16px 15px 2px rgba(95, 33, 251, 0.899);
    backdrop-filter: blur(10px);
   
   
}

.inner-reset-modal .exit-modal-btn {
    cursor:pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: blue;
    color:white;
    height:35px;
    width: 35px;
    border-radius: 2px;
    transition: 0.4s;
}
.inner-reset-modal .exit-modal-btn:hover {
    background-color: rgb(1, 1, 191);
}
.modal-select-btns-cont{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes-reset-btn{
    cursor:pointer;
    background-color: #fb9d9d;
    margin: 15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border:1.5px solid white;
    color: white;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: inset 0px 1px 1px 0px  #f64141,
                inset -1px -2px 8px 0px  black,
                inset 0px 2px 2px 0px  black,
                inset 0px 1.5px 4px 5px  #f64141d3,
                inset 2px 8px 5px 0px white,
                inset 0px -1px 15px 0px  #f641417a,
                inset -1px -2px 10px 0px  black,
                inset -2px -2px 5px 5px  #ac2c2c,
                inset 0px 0px 15px 20px  #f64141,
                3px 8px 15px 0px black;

}

.no-reset-btn{
    cursor:pointer;
    background-color: rgb(245, 167, 136);
    margin: 5px;
    height: 40px;
    width: 80px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .button-container{
    width:100vw;    
} */
input.tile-input{
    text-align: center;
    font-size: large;
    font-weight: bold;
    caret-color: transparent;
    cursor:pointer;
}

input.selected{
    color: rgb(94, 33, 251);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus{
    outline: none;
}

@media only screen and (max-width: 600px){
.standard-sudoku-grid-container{
margin-top:20px;
}
.input-buttons{
    margin-top:20px;
    /* position:absolute; */
    width:100%;
}
.checking-buttons{
margin-top:20px;
}
.button-container{
    display:flex;
    justify-content: center;
    flex-direction:column;
}
}